//Utility

.bg_primary,
.btn.bg_primary {
    background-color: #e3f2fd;


}

.btn.bg_primary {
    &:hover {
        &:hover {
            background-color: #bddff8;
        }
    }
}


.ms_icon {
    width: 30px;
    height: auto;
    margin-inline: 0.5rem;

    &:hover {
        cursor: pointer;
        scale: (1.1);
        transition: scale 0.3s ease;
    }
}