.custom-shape-divider-bottom-1674557407 {
    width: 100%;
    overflow: hidden;
    line-height: 0;

    path {
        fill: var(--switch-dark);
    }
}

.avatar {
    max-width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-inline: 0.5rem;
}

.projects-banner {
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:hover .projects-banner-child {
        scale: 1.05;
    }

    &:hover .projects-banner-child:before {
        display: block;
    }

    .projects-banner-child {
        height: 100%;
        width: 100%;
        position: relative;
        background: url(../images/banner.webp) no-repeat center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s ease-in;

        .layover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(black, 0.5);
        }

        &:before {
            content: "";
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;


        }

    }

    .content {
        position: relative;
        z-index: 99999;
    }

}