.custom-shape-divider-bottom-1674557407 {
    width: 100%;
    overflow: hidden;
    line-height: 0;

    path {
        fill: var(--switch-dark);
    }
}

.avatar {
    max-width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-inline: 0.5rem;
}

.projects-banner {
    background: url(../images/banner.webp) no-repeat center;
    background-size: cover;
    position: relative;
    transition: all 0.3s ease-in;


    .projects-banner-layover {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(#000000, 0.5);
        transition: all 0.3s ease-in;
    }

    .content {
        position: relative;
        z-index: 99999;
    }

}

.projects-banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: inherit;
}

.projects-banner:hover::before {
    transform: scaleY(1.05);
}

.projects-banner:hover .projects-banner-layover {
    transform: scaleY(1.05);
}